aardwolf==0.2.2
adblockparser==0.7
aiocmd==0.1.2
aioconsole==0.3.1
aiohttp==3.8.4
aiosignal==1.3.1
aiosmb==0.2.50
aiowinreg==0.0.7
alembic==1.8.1.dev0
anyio==3.6.2
apispec==5.2.2
apispec-webframeworks==0.5.2
appdirs==1.4.4
arc4==0.3.0
argcomplete==2.0.0
arrow==1.2.3
asciitree==0.3.3
asgiref==3.6.0
asn1crypto==1.5.1
asn1tools==0.164.0
asttokens==2.2.1
asyauth==0.0.9
async-generator==1.10
async-timeout==4.0.2
asysocks==0.2.2
attrs==22.2.0
autobahn==22.7.1
autocommand==2.2.2
Automat==22.10.0
Babel==2.10.3
backcall==0.2.0
backdoor-factory==0.0.0
base58==1.0.3
bcrypt==3.2.2
beautifulsoup4==4.11.2
beniget==0.4.1
bidict==0.22.1
binwalk==2.3.3
bitstruct==8.15.1
bleach==5.0.1
blinker==1.5
bluepy==1.3.0
bottle==0.12.23
Brlapi==0.8.4
Brotli==1.0.9
cachelib==0.9.0
cairocffi==1.4.0
capstone==4.0.2
cbor==1.0.0
certifi==2022.9.24
cffi==1.15.1
Chameleon==3.8.1
chardet==5.1.0
charset-normalizer==3.0.1
cheroot==9.0.0+ds1
CherryPy==18.8.0
cherrypy-cors==1.6
chirp==0.3.0.dev0
cli-helpers==2.3.0
cliapp==1.20180812.1
click==8.1.3
cmd2==2.4.2+ds
cmdtest==0.32+git
colorama==0.4.6
configobj==5.0.8
constantly==15.1.0
contourpy==1.0.7
crackmapexec==5.4.0
crcelk==1.3
crit==3.17.1
cryptography==38.0.4
cryptography37==37.0.2
cupshelpers==1.0
cvss==2.4
cycler==0.11.0
Cython==0.29.32
dbus-python==1.3.2
debtags==2.1
decorator==5.1.1
defusedxml==0.7.1
deluge==2.0.3
Deprecated==1.2.13
dhcpig==0.0.0
diskcache==5.4.0
distro==1.8.0
distro-info==1.5
Django==3.2.18
dnslib==0.9.23
dnspython==2.3.0
dsinternals==1.2.4
ecdsa==0.18.0
email-validator==1.3.0
et-xmlfile==1.0.1
exceptiongroup==1.1.0
executing==1.2.0
ExifRead==3.0.0
faraday-agent-dispatcher==2.4.0
faraday-agent-parameters-types==1.2.0
faraday-cli==2.1.8
faraday-plugins==1.10.0
faradaysec==4.3.3
feedparser==6.0.10
fierce==1.5.0
filedepot==0.5.2
filteralchemy==0.1.0
Flask==2.2.2
Flask-Classful==0.15.0.dev1
Flask-KVSession-fork==0.6.4
Flask-Limiter==3.2.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Restless==0.17.0
Flask-Security-Too==4.0.0
Flask-Session==0.3.2
Flask-SocketIO==5.3.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
flatbuffers==2.0.8+dfsg1.2
fonttools==4.38.0
frozenlist==1.3.3
fs==2.4.16
future==0.18.2
gast==0.5.2
GeoIP==1.3.2
geoip2==2.9.0
ghp-import==2.1.0
gpg==1.18.0
greenlet==2.0.1
h11==0.14.0
h2==4.1.0
hashID==3.1.4
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httpagentparser==1.9.1
httpcore==0.16.3
httplib2==0.20.4
httpx==0.23.3
hupper==1.10.3
hyperframe==6.0.0
hyperlink==21.0.0
idna==3.3
imgviz==1.5.1
impacket==0.10.0
importlib-metadata==4.12.0
incremental==21.3.0
inflect==2.1.0
iniconfig==1.1.1
invoke==2.0.0
ipwhois==1.2.0
IPy==1.1
ipython==8.5.0
ipython_genutils==0.2.0
itsdangerous==2.1.2
jaraco.classes==3.2.1
jaraco.collections==3.8.0
jaraco.context==4.2.0
jaraco.functools==3.5.0
jaraco.text==3.11.1
jdcal==1.0
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.0.3
joblib==1.2.0
jsonschema==4.10.3
jupyter_core==4.12.0
kaitaistruct==0.10
kali-tweaks==2023.1.4
kazam==1.4.5
keyring==23.9.3
KismetCaptureBtGeiger==2021.7.1
KismetCaptureFreaklabsZigbee==2018.7.0
KismetCaptureRtl433==2020.10.1
KismetCaptureRtladsb==2020.10.1
KismetCaptureRtlamr==2020.10.1
kiwisolver==0.0.0
labelme==5.1.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
ldap3==2.9.1
ldapdomaindump==0.9.3
libevdev==0.5
libtorrent==2.0.8
lightdm-gtk-greeter-settings==1.2.2
limits==2.8.0
livereload==2.6.3
log-symbols==0.0.14
louis==3.24.0
lsassy==3.1.6
lunr==0.6.2
lxml==4.9.2
lz4==4.0.2+dfsg
Mako==1.2.4.dev0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.18.0
marshmallow-sqlalchemy==0.28.1
masky==0.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
maxminddb==2.1.0
mdurl==0.1.2
mechanize==0.4.8
mercurial==6.3.2
mergedeep==1.3.4
mimerender==0.6.0
minidump==0.0.21
minikerberos==0.3.5
mitmproxy==9.0.1
mkdocs==1.4.2
mnemonic==0.19
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
msldap==0.4.7
multidict==6.0.4
nassl==5.0.0
natsort==8.0.2
neo4j==5.2.dev0
neobolt==1.7.17
neotime==1.7.4
netaddr==0.8.0
netifaces==0.11.0
networkx==2.8.8
nltk==3.8
notus-scanner==22.4.4
nplusone==1.0.0
ntpsec==1.2.2
numpy==1.24.1
oauthlib==3.2.2
openpyxl==3.0.9
ordered-set==4.1.0
oscrypto==1.3.0
ospd-openvas==22.4.6
outcome==1.2.0
packaging==23.0
paho-mqtt==1.6.1
paramiko==2.12.0
parso==0.8.3
passlib==1.7.4
Paste==3.5.2
PasteDeploy==3.0.1
PasteScript==3.2.1
pcapy==0.11.5.dev0
pefile==2023.2.7
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.5.0
pgspecial==2.0.1
phonenumbers==8.12.57
pickleshare==0.7.5
Pillow==9.4.0
pipx==1.1.0
plaster==1.0
plaster-pastedeploy==0.5
plecost==1.1.2
pluggy==1.0.0+repack
pluginbase==1.0.1
ply==3.11
portend==3.1.0
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
psycopg==3.1.7
psycopg2==2.9.5
ptyprocess==0.7.0
publicsuffix2==2.20191221
publicsuffixlist==0.7.10
pure-eval==0.0.0
py==1.11.0
py-sneakers==1.0.1
py-ubjson==0.16.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.45.2
pydantic==1.10.4
pydot==1.4.2
pyenchant==3.2.2
pygame==2.1.2
pygeoip==0.3.2
pygexf==0.2.2
Pygments==2.14.0
PyGObject==3.42.2
pygraphviz==1.7
PyHamcrest==2.0.3
pyinotify==0.9.6
PyJWT==2.6.0
pylnk3==0.4.2
pymssql==2.2.2
PyNaCl==1.5.0
pyOpenSSL==23.0.0
pyotp==2.6.0
pyparsing==3.0.9
pypcapfile==0.12.1
PyPDF2==2.12.1
pyperclip==1.8.2
pypng==0.20220715.0
pypsrp==0.5.0
pypykatz==0.4.9
PyQRCode==1.2.1
PyQt5==5.15.9
PyQt5-sip==12.11.1
PyQt6==6.4.2
PyQt6-sip==13.4.1
pyqtgraph==0.13.1
PyQtWebEngine==5.15.6
pyramid==2.0
pyrsistent==0.18.1
pyserial==3.5
pysmbc==1.0.23
PySocks==1.7.1
pyspnego==0.1.5
pytest==7.2.1
python-apt==2.5.2+b1
python-dateutil==2.8.2
python-debian==0.1.49
python-docx==0.8.11
python-editor==1.0.3
python-engineio==4.3.4
python-gnupg==0.4.9
python-gvm==23.2.0
python-magic==0.4.26
python-magic-ahupp==0.4.13
python-mimeparse==1.6.0
python-owasp-zap-v2.4==0.0.20
python-pam==2.0.2
python-pptx==0.6.18
python-slugify==4.0.0
python-snappy==0.5.3
python-socketio==5.7.2
python-status==1.0.1
pythran==0.11.0
PyTrie==0.4.0
pytz==2022.7.1
pytzdata==2020.1
pyudev==0.24.0
pywerview==0.3.3
pyxdg==0.28
PyYAML==6.0
pyyaml_env_tag==0.1
qrcode==7.4.2
QtPy==2.3.0
redis==4.3.4
regex==2022.10.31
rencode==1.0.6
repoze.lru==0.7
requests==2.28.1
requests-futures==1.0.0
rfc3986==1.5.0
rich==13.3.1
Routes==2.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scapy==2.5.0
scipy==1.10.0
SecretStorage==3.3.3
secure==0.3.0
selenium==4.8.0
service-identity==18.1.0
setproctitle==1.3.1
sgmllib3k==1.0.0
simple-rest-client==1.1.3
simplejson==3.18.3
simplekv==0.13.0
six==1.16.0
smoke-zephyr==2.0.1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2
spinners==0.0.24
SQLAlchemy==1.4.46
sqlalchemy-schemadisplay==1.3
sqlparse==0.4.2
sslyze==5.1.1
stack-data==0.6.2
sympy==1.11.1
syslog-rfc5424-formatter==1.2.3
tabulate==0.8.9
Tempita==0.5.2
tempora==5.1.0
termcolor==1.1.0
terminaltables==3.1.10
termineter==1.0.4
tld==0.11.11
tls-parser==1.2.2
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
translationstring==1.4
trio==0.22.0
trio-websocket==0.9.2
ttystatus==0.38
Twisted==22.4.0
txaio==21.2.1
typing_extensions==4.4.0
u-msgpack-python==2.3.0
ufoLib2==0.14.0
ujson==5.7.0
unicodedata2==15.0.0
unicrypto==0.0.9
Unidecode==1.3.6
urllib3==1.26.12
urwid==2.1.2
userpath==1.8.0
validators==0.20.0
venusian==3.0.0
vinetto==0.8.0
wadllib==1.3.6
wafw00f==2.2.0
waitress==2.1.2
wapiti3==3.0.4
watchdog==2.2.1
wcwidth==0.2.5
webargs==8.0.1
webencodings==0.5.1
WebOb==1.8.6
websockets==10.4
WebTest==3.0.0
Werkzeug==2.2.2
wfuzz==3.1.0
whois==0.8
wifite==2.6.6
winacl==0.1.5
wrapt==1.14.1
wsaccel==0.6.3
wsproto==1.2.0
WTForms==3.0.1
wxPython==4.2.0
xcffib==0.11.1
xdg==5
XlsxWriter==3.0.2
xmltodict==0.13.0
yara-python==4.2.0
yarl==1.8.2
yaswfp==0.9.3
zc.lockfile==2.0
zim==0.75.1
zipp==1.0.0
zope.component==5.1.0
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.5.2
